
<form >

  <div>
    <label> Nou Nom:</label>
    <input [(ngModel)]="nouNom" name="nouNom">
  </div>

  <div>
    <label> Nou Cognom:</label>
    <input [(ngModel)]="nouCognom" name="nouCognom">
  </div>

  <div>
    <label> Nou Rol:</label>
    <input [(ngModel)]="nouRol" name="nouRol">
  </div>

  <div>
    <label> Nou Estat:</label>
    <input [(ngModel)]="nouEstat" name="nouEstat">
  </div>

</form>
<div>
  <button  type="submit" (click)="sendCanvi()"class="btn-btn-primary"> Modificar </button>
</div>










